#text {
    display: inline;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5rem;
}

#cursor {
    font-size: 1rem;
    animation: blink-animation 1.7s steps(2, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

hr {
    border: 0;
    border-top: 2px solid #AAA;
}

#mainrule {
    border-top: 2px solid black;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner-image, #banner-text {
    display: inline;
    padding: 10px;
}

#banner-image {
    height: 4rem;
}

#banner-text {
    font-size: 2.3rem;
    font-family: sans-serif;
}

#buttons {
    display: flex;
    justify-content: center;
}

button {
    font-size: 1rem;
    margin: 5px;
    padding: 5px 10px;
    border: 2px solid #777;
    color: #777;
    background-color: white;
}

button:hover {
    border-color: black;
    color: black;
}

#content {
    margin-left: auto;
    margin-right: auto;
    max-width: 20cm;
}

body {
    background-color: white;
}
