{% macro from(path, details=True) %}
<style>
    a {
        text-decoration: none;
        color: inherit;
    }

    a:hover:not(.button-row a, header a, footer a) {
        text-decoration: underline;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        margin-top: 1em;
        font-size: 1.2em;
    }

    .company {
        font-size: 1.1em;
        margin-top: -1.5em;
        margin-bottom: 0;
    }

    .job-header {
        text-align: justify;
        padding-bottom: 0;
    }

    .job-header:after {
        content: '';
        display: inline-block;
        width: 100%;
        font-size: 0pt;
    }

    .job-header>h2 {
        display: inline-block;
    }

    .date {
        display: inline-block;
        font-size: 0.9em;
        color: #666666;
        text-align: right;
        margin-left: auto;
    }

    hr {
        margin-top: 0.2em;
        border-color: #ac311f;
    }

    .summary {
        margin-bottom: 1em;
    }

    .social>div {
        display: inline-block;
        width: 48%;
        min-width: 15ch;
    }

    .social>div>i {
        width: 20px;
        padding: 0.3em;
        text-align: center;
    }
</style>
{%- set resume = load_data(path=path) -%} {%- set basics = resume["basics"] -%}
<div class="social">
    <div>
        <i class="fa fa-globe"></i><a href="https://{{ basics.website }}">{{ basics.website }}</a>
    </div>
    <div>
        <i class="fa fa-envelope"></i><a href="mailto:{{ basics.email }}">{{ basics.email }}</a>
    </div>
    <div>
        <i class="fa fa-phone"></i><a href="tel:{{ basics.phone }}">{{ basics.phone }}</a>
    </div>
    <div>
        <i class="fa fa-map-marker"></i><span>{{ basics.location.city }}, {{ basics.location.countryCode }}</span>
    </div>
    {% for profile in basics.profiles %}
    <div>
        <i class="fa fa-{{ profile.network | lower }}"></i><a href="{{ profile.url }}">{{ profile.username }}</a>
    </div>
    {%- endfor -%}
</div>
<h1>Education</h1>
<hr />
{%- for edu in resume["education"] -%}
<div class="job-header">
    <h2>{{ edu.studyType }}{% if edu.area %} in {{ edu.area }}{% endif %}</h2>
    <p class="date">
        {{ edu.startDate | date(format="%b %Y") }} &#8212; {% if edu.endDate %}{{
        edu.endDate | date(format="%b %Y") }}{%- else -%}Present{%- endif -%}
    </p>
</div>
<p class="company"><a href="{{ edu.url }}">{{ edu.institution }}</a></p>
{%- if edu.gpa -%}
<p class="summary">
    GPA: {{ edu.gpa }}{%- if edu.honors -%}, {{ edu.honors }}{%- endif -%}
</p>
{%- endif -%}
{%- if edu.summary -%}
<p class="summary">
    {{ edu.summary }}
</p>
{%- endif -%}
{%- if details and edu.courses -%}
<details>
    <summary>Courses</summary>
    <ul>
        {%- for course in edu.courses -%}
        <li>{{ course }}</li>
        {%- endfor -%}
    </ul>
</details>
{%- endif -%} {%- endfor -%}
<h1>Experience</h1>
<hr />
{%- for job in resume["work"] -%}
<div class="job-header">
    <h2>{{ job.position }}</h2>
    <p class="date">
        {{ job.startDate | date(format="%b %Y") }} &#8212; {% if job.endDate %}{{
        job.endDate | date(format="%b %Y") }}{%- else -%}Present{%- endif -%}
    </p>
</div>
<p class="company"><a href="{{ job.website }}">{{ job.company }}</a></p>
<p class="summary">{{ job.summary }}</p>
{%- endfor -%}
<h1>Languages</h1>
<hr />
<ul>
    {%- for language in resume["languages"] -%}
    <li>
        <strong>{{ language.language }}</strong>&nbsp;&#8212;&nbsp;{{
        language.fluency }}
    </li>
    {%- endfor -%}
</ul>
{% endmacro %}