{% import "macros/header.html" as header -%}
{% import "macros/footer.html" as footer -%}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="{{ get_url(path='apple-touch-icon.png') }}">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" type="text/css" href="{{ get_url(path='styles.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap" rel="stylesheet">
        {%- block title -%}
            <title>{{ config.title }}</title>
        {%- endblock title -%}
    </head>
    <body>
        <div class="hide-on-phone"></div>
        {%- block header -%}
            {{ header::large() }}
        {%- endblock header -%}
        <div class="hide-on-phone"></div>
        <div class="hide-on-phone"></div>
        <main>
            {%- block main -%}
            {%- endblock main -%}
        </main>
        <div class="hide-on-phone"></div>
        <footer>
            {%- block footer -%}
                {{ footer::footer() }}
            {%- endblock footer -%}
        </footer>
        {%- block end -%}
        {%- endblock end -%}
    </body>
</html>
