{%- extends "base.html" -%}
{% import "macros/header.html" as header -%}

{%- block title -%}
    <title>{{ page.title }} | {{ config.title }}</title>
    <script type="text/javascript">
        window.addEventListener('load', function() {
            for (const ref of document.getElementsByClassName('footnote-reference')) {
                const hash = ref.children[0].hash.substring(1);
                const refhash = 'ref:' + hash;
                ref.id = refhash;
            }
    
            for (const footnote of document.getElementsByClassName('footnote-definition')) {
                const hash = footnote.id;
                const refhash = 'ref:' + hash;
                const backlink = document.createElement('a');
                backlink.href = '#' + refhash;
                backlink.className = 'footnote-backlink';
                backlink.innerText = '↩';
                backlink.style.paddingLeft = "1ch"
                const paras = footnote.children;
                const lastPara = paras[paras.length - 1];
                lastPara.appendChild(backlink);
            }
        });
    </script>
{%- endblock title -%}

{%- block header -%}
    {{ header::large() }}
{%- endblock header -%}

{%- block main -%}
    <div id="title-div">
        <h1 id="title">{{ page.title }}</h1>
        {% if page.date %}
            <p class="date">Posted on {{ page.date | date(format="%d %B %Y") }}</p>
        {% endif %}
        {% if page.updated %}
            <p class="date">Updated on {{ page.updated | date(format="%d %B %Y") }}</p>
        {% endif %}
    </div>
    {{ page.content | safe }}
{%- endblock main -%}