{%- extends "base.html" -%}
{%- import "macros/resume_macros.html" as resume -%}

{%- block header -%}
{%- endblock header -%}

{%- block footer -%}
{%- endblock footer -%}

{%- block main -%}
<style>
    main {
        width: 70ch;
        padding-top: 80px;
        font-family: Lato;
        font-size: 1.3em;
        padding-bottom: 300px;
    }
    .dontbreak {
        page-break-inside: avoid;
    }
</style>
{%- set resume = load_data(path="static/resume.json") -%}
<div style="text-align: center;">
    <h1 style="font-size: 2.5em; font-family: Raleway, sans-serif; text-transform: uppercase; margin-bottom: 1em;">{{
        resume.basics.name }}
    </h1>
</div>
{{ resume::from(path="static/resume.json", details=False) }}
{%- endblock main -%}