{%- extends "base.html" -%}

{%- block title -%}
<title>{{ section.title }} | {{ config.title }}</title>
{%- endblock title -%}

{%- block main -%}

<h1>{{ section.title }}</h1>

{{ section.content | safe }}

{% if section.extra.class -%}
<div class="{{ section.extra.class }}">
{% else %}
<div>
{% endif -%}
{%- for page in paginator.pages -%}
<a href="{{ page.permalink }}" class="post">
    <h2 class="post-title">{{ page.title }}</h2>

    {% if page.extra.event -%}
        <p class="event">{{ page.extra.event }}</p>
    {% endif -%}
    {% if page.date -%}
    <p class="date">{{ page.date | date(format = "%e %b %y")}}</p>
    {% endif -%}
    {% if page.description -%}
        <p class="description">{{ page.description }}</p>
    {% endif -%}
</a>
{%- endfor -%}
</div>

{%- endblock main -%}
